*{
    --purple: #8400ad;
    --magenta: #c0004d;
    --goldish: #fff643;
    --blue: #4388ff;

}

.banner1{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    background-image: linear-gradient(45deg, #415ed0 0%, #c850c0 46%, #ffcc70 100%);
    text-align:center;
    padding: 7px 10px;
    font-size: 3.5em; font-weight: bold; 
    color: #fff;
    margin-bottom: 0
}
.banner1desc{
    font-size: .4em; 
    font-weight: normal; 
    color: #fff;
    margin-top: 0;
    display: block;
}
div.banner2
{
    text-align: center;
}
p.banner2{
    background-image: linear-gradient(180deg, #4388ff 10%,#8400ad 50%,#c0004d   70%);
    background-clip: text; 
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;padding: 7px 10px;
    font-size: 3.5em;
    margin-bottom:0 !important; 
    font-weight: bold;
    /* text-align: center; */
}
span.banner2desc{
    color: #000;
    font-weight: bold;
    font-size: 1.5em; 
    /* background-image: linear-gradient(132deg, #fff643 30%, #16a085 70%); */
    /* background-clip: text;  */
    /* -webkit-background-clip: text;  */
    /* -webkit-text-fill-color: transparent; */
    padding-top: 0 !important;
    margin-top: 0 !important;
    /* text-align: center */
}
div.banner3{
    background: #0e0e0e;
    padding-bottom: 10px;
    margin-bottom:25px !important; 
}
p.banner3{
    background-image: linear-gradient(
        to right, 
        #462523 0, 
        #cb9b51 22%, 
        #f6e27a 45%, 
        #f6f2c0 50%, 
        #f6e27a 55%, 
        #cb9b51 78%, 
        #462523 100%);
        background-clip: text; 
    -webkit-background-clip:text; 
    -webkit-text-fill-color: transparent; 
    padding: 7px 10px;
    font-size: 3em;
    font-weight: normal; 
    letter-spacing:3px;
    text-align:center
}
.banner3desc{
    font-weight: bold; 
    font-size: 1.5em; 
    background-image: linear-gradient(
        to right, 
        #462523 0, 
        #cb9b51 22%, 
        #f6e27a 45%, 
        #f6f2c0 50%, 
        #f6e27a 55%, 
        #cb9b51 78%, 
        #462523 100%);
        background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top:0;text-align:center
}  
p.key_feat{
    /* padding-top: 20px; */
    padding-bottom: 20px;
    text-align: center;
}
p.key_feat a::after{
    content: ' \2022';
}
.end_cta{
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 20px;
}
.end_cta p{
    font-size: 2em;
    font-weight:600;
}